
@{
	ViewData["Title"] = "Edit";
}

<div class="container">
	<form action="/Todo/Save" class="form-control">
		<label for="task">
			Nhập task
		</label>
		<input class="form-control" id="task" />
		<button class="btn btn-primary">Change</button>
	</form>
</div>
