
@{
    ViewData["Title"] = "Todo";
}

<h1>Todo List</h1>
<a href="/Todo/Add" class="btn btn-primary mb-3">Add Task</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Task</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ôn tập HTML</td>
            <td>
                <a href="Todo/Edit" class="btn btn-warning">Edit</a>
                <a href="Todo/Edit" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ôn tập CSS</td>
            <td>
                <a href="Todo/Edit" class="btn btn-warning">Edit</a>
                <a href="Todo/Edit" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Ôn tập Bootstrap</td>
            <td>
                <a href="Todo/Edit" class="btn btn-warning">Edit</a>
                <a href="Todo/Edit" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
